.svg-container {
  padding: 6px 5px 6px 15px;
  color: #889aa4;
  vertical-align: middle;
  width: 30px;
  display: inline-block;
}

.home {
  // background: url($src + '/images/500.png');
  color: $color-main;
  @include wh(100%, 100%);
}